.idea/
sql/
run_travis.sh
.venv/
.spyproject/
*__pycache__/
tiles/
*.log
openelevationservice/server/ops_settings.yml
ops_settings_docker.yml
test.py
*.tif
*.hdr
*.tfw

# Docs
docs/build

# PyPI
dist/
*egg-info/
*.in
build/
