asn1crypto==0.24.0
attrs==18.1.0
Automat==0.6.0
blinker==1.4
certifi==2018.4.16
cffi==1.11.5
click==6.7
constantly==15.1.0
coverage==4.4.2
cryptography==2.2.2
cssselect==1.0.3
flasgger==0.8.1
Flask==1.0.2
Flask-Cors==3.0.3
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.6.2
GeoAlchemy2==0.5.0
geojson==2.3.0
gunicorn==19.7.1
hyperlink==18.0.0
idna==2.6
imposm.parser==1.0.8
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
lxml==4.2.1
MarkupSafe==1.0
mistune==0.8.3
parsel==1.4.0
psycopg2==2.7.3.2
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==18.0.0
pyproj==1.9.5.1
PyYAML==3.12
queuelib==1.5.0
Scrapy==1.5.0
service-identity==17.0.0
Shapely==1.6.4
six==1.11.0
SQLAlchemy==1.2.12
Twisted==18.4.0
voluptuous==0.10.5
w3lib==1.19.0
Werkzeug==0.14.1
zope.interface==4.5.0
